<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>El Juego De Las PreguntasS</p>
  </body>
</html>
