<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
</head>
<body>
    <h2><strong>Quiz: </strong>El Juego De Las Preguntas</h2>
    <p> <%= respuesta %> </p>
    <a href="/quizes/question">Intentar De Nuevo</a>
</body>
</html>
